  <div class="container" id="about-page">
    <div class="about-content col-xs-12">
      <h1 class="main-title text-center">01</h1>
      <h2 class="sub-title text-center">About Me</h2>
      <p class="about-text">
        Born and bred in France, I am currently living in the Caribbean working as a <strong>Full-Stack Web Developer</strong>.<br>
        After a few years working in the market finance sector, I turned to more IT-orientated positions for a top-tier international bank which eventually decided  me to learn to code and become a full-time web developer. <br>
        My past experiences as a <strong>business analyst</strong> and in <strong>projects management (Agile, SCRUM)</strong> provided me with a solid basis for the web development process.<br><br>
        I am currently working with <strong>Ruby</strong> and <strong>Ruby on Rails</strong>, but as a tech passionate always eager to expand my competences, I am also learning <strong>React</strong> and <strong>Swift</strong> for iOS apps.<br>
        Being Full-Stack allows me to gain broad and various skills all the way from <strong>back-end</strong> to <strong>front-end</strong> development.
        I value simple content structure, a <strong>clean design</strong> and well-thought-out <strong>animations/interactions</strong> (to bring some interactivity). <br>
        I have a strong focus on <strong>speed</strong>, <strong>performance</strong> and <strong>reliability</strong> with  a  preference for easy-to-use  and intuitive <strong>UX/UI</strong>. <br>
        I really love each aspects of development process, to build things from scratch and enjoys bringing an idea to life in the browser. <br><br>
        I am available for remote work. Should you want to build something together, feel free to drop me a mail to start discussing your projects… or just to say hi!
      </p>
      <div class="stack">
        <div class="stack-list" id="list-one">
          <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/f_auto,q_auto/v1543598079/Ruby_logo.png", width: 40, height: 40, alt: "Full-Stack Web Developer - Stack logos", class:"stack-logo im" %>
          <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/f_auto,q_auto/v1543598643/html-5.svg", width: 35, height: 50, alt: "Full-Stack Web Developer - Stack logos", class:"stack-logo" %>
          <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/f_auto,q_auto/v1543598642/css-3.svg", width: 35, height: 50, alt: "Full-Stack Web Developer - Stack logos", class:"stack-logo" %>
          <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/f_auto,q_auto/v1543598642/javascript.svg", width: 40, height: 40, alt: "Full-Stack Web Developer - Stack logos", class:"stack-logo" %>
          <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/f_auto,q_auto/v1543598080/rails2.png", width: 54, height: 45, alt: "Full-Stack Web Developer - Stack logos", class:"stack-logo"%>
          <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/f_auto,q_auto/v1543598643/postgresql.svg", width: 47, height: 48, alt: "Full-Stack Web Developer - Stack logos", class:"stack-logo" %>
        </div>
        <div class="stack-two-wrapper">
          <div class="stack-list" id="list-two">
            <p><small>On going learning : </small></p>
            <a href="easter-matrix.html" id="confirm">
              <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/f_auto,q_auto/v1543598079/react.png", width: 70, height: 50, alt: "Full-Stack Web Developer - Stack logos", class:"stack-logo", id:"react" %></a>
            <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/f_auto,q_auto/v1543598078/swift.png", width: 50, height: 45, alt: "Full-Stack Web Developer - Stack logos", class:"stack-logo" %>
          </div>
        </div>
      </div>
    </div>
  </div>
