  <div class="container" id="about-page">
    <div class="about-content col-xs-12">
      <h1 class="main-title text-center">01</h1>
      <h2 class="sub-title text-center">About Me</h2>
      <p class="about-text">
        I am a Freelance <strong class="red-word">Full-Stack Web Developer</strong>. Originally from France, i am currently living in the caribbean. <br>
        I’ve been working in the market finance sector for few years, but after i’ve been working in more IT orientated positions for a top tier international bank. <br>
        That's were I decided to learn to code and to become a full-time web developer.
        My past experiences as a <strong class="red-word">business analyst</strong> and in <strong class="red-word">projects management (Agile, SCRUM)</strong> are a solid basis for the web development process.<br><br>
        I am currently working with <strong class="red-word">Ruby</strong> and <strong class="red-word">Ruby on Rails</strong> , but as a tech passionate always eager to grow, I am learning <strong class="red-word">React</strong> and <strong class="red-word">Swift</strong> for iOS apps.<br>
        Being Full-Stack allows me to gain broad and various skills : from <strong class="red-word">back-end</strong> to <strong class="red-word">front-end</strong> development.
        I value simple content structure, a <strong class="red-word">clean design</strong> and thoughtful <strong class="red-word">animations/interactions</strong> (to bring some interactivity). <br>
        I have a strong focus on <strong class="red-word">speed</strong>, <strong class="red-word">performance</strong> and <strong class="red-word">reliability</strong> with  a  preference for easy to use and intuitive <strong class="red-word">UX/UI</strong>. <br>
        I really love each aspects of development process, to build things from scratch and enjoys bringing an idea to life in the browser. <br><br>
        I am available for remote work. if you would like to build something together, Feel free to drop me a mail to chat about your projects or even just to say hi…
      </p>
      <div class="stack">
        <div class="stack-list" id="list-one">
          <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1543246886/Ruby_logo.png", width: 40, height: 40, alt: "Full-Stack Web Developer - Stack logos", class:"stack-logo im" %>
          <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1543246468/html5-with-wordmark-color.svg", width: 50, height: 50, alt: "Full-Stack Web Developer - Stack logos", class:"stack-logo" %>
          <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1543246468/css3-seeklogo.com.svg", width: 50, height: 50, alt: "Full-Stack Web Developer - Stack logos", class:"stack-logo" %>
          <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1543245860/javascript-js-seeklogo.com.svg", width: 40, height: 40, alt: "Full-Stack Web Developer - Stack logos", class:"stack-logo" %>
          <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1543246589/rails2.png", width: 54, height: 45, alt: "Full-Stack Web Developer - Stack logos", class:"stack-logo"%>
          <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1543246468/postgresql-seeklogo.com.svg", width: 45, height: 45, alt: "Full-Stack Web Developer - Stack logos", class:"stack-logo" %>
        </div>
        <div class="stack-two-wrapper">
          <div class="stack-list" id="list-two">
            <p><small>Learning on going : </small></p>
            <a href="easter-matrix.html" id="confirm">
              <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1543246468/react.png", width: 70, height: 50, alt: "Full-Stack Web Developer - Stack logos", class:"stack-logo", id:"react" %></a>
            <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1543246754/swift.png", width: 50, height: 45, alt: "Full-Stack Web Developer - Stack logos", class:"stack-logo" %>
          </div>
        </div>
      </div>
    </div>
  </div>
