<nav id="navbar">
  <div class="navbar-top">
    <div class="logo">
      <a href="/" class="navbar-wagon-brand">
        <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1539966638/white_letters_no_back.png", id:"logo-pic", alt: "Alexandre Gros - Fullstack WebDev", class:"img-responsive" %>
    </a>
    </div>
    <!-- Right Navigation -->
    <div class="navbar-right hidden-xs hidden-sm">
      <%= link_to "About", "#about", class:"navbar-item navbar-link" %>
      <%= link_to "Projects", "#projects", class:"navbar-item navbar-link" %>
      <%= link_to "Contact", "#contact", class:"navbar-item navbar-link" %>
    </div>
    <!-- Dropdown appearing on mobile only -->
    <div class="navbar-item-xs hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="navigation"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
          <li><%= link_to "About", "about.html", class:"navbar-item navbar-link" %></li>
          <li><%= link_to "Projects", "projects.html", class:"navbar-item navbar-link" %></li>
          <li><%= link_to "Contact", "contact.html", class:"navbar-item navbar-link" %></li>
        </ul>
      </div>
    </div>
  </div>
</nav>


<script>

    const nav = document.querySelector('#navbar');
    let topOfNav = nav.offsetTop;

    function fixNav() {
      if (window.scrollY >= topOfNav) {
        // document.body.style.paddingTop = nav.offsetHeight + 'px';
        document.body.classList.add('fixed-nav');
      } else {
        document.body.classList.remove('fixed-nav');
        document.body.style.paddingTop = 0;
      }
    }

    window.addEventListener('scroll', fixNav);

  </script>
