<!doctype html>
<html lang="en">
  <head>
    <script type="text/javascript" src="/tarteaucitron/tarteaucitron.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title %></title>
    <meta name="description" content="<%= data.site.meta_description %>">
    <meta name="theme-color" content="#2E416A"/>
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= data.site.meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.alexgwebdev.com" />
    <meta property="og:image" content="https://res.cloudinary.com/dcf4y5ngp/image/upload/v1543243905/meta2.png" />
    <meta property="og:description" content="<%= data.site.meta_description %>" />
    <meta property="og:site_name" content="<%= data.site.meta_title %>" />
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= data.site.twitter_account %>">
    <meta name="twitter:title" content="<%= data.site.meta_title %>">
    <meta name="twitter:description" content="<%= data.site.meta_description %>">
    <meta name="twitter:creator" content="<%= data.site.twitter_account %>">
    <meta name="twitter:image:src" content="https://res.cloudinary.com/dcf4y5ngp/image/upload/v1543243905/meta2.png">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon-180x180-precomposed.png">
    <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152-precomposed.png">
    <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" href="apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="favicon.png">
    <link rel="icon" type="image/ico" href="favicon.ico">
    <%= stylesheet_link_tag "application" %>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />

<!--     <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script> -->
  </head>
  <body data-spy="scroll" data-target="#navbar" data-offset="70" class="preload">
    <%= partial "layouts/navbar" %>
    <%= yield %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <%= auto_javascript_include_tag %>
  </body>
</html>

