---
title: Alex G | Fullstack WebDev
---
   <section class="scrollable-section" id="home">
     <%= partial "layouts/home" %>
   </section>
   <section class="scrollable-section" id="about">
     <%= partial "layouts/about" %>
   </section>
    <section class="scrollable-section" id="projects">
     <%= partial "layouts/projects" %>
   </section>
   <section class="scrollable-section" id="contact">
     <%= partial "layouts/contact" %>
   </section>
   <section class="scrollable-section" id="playground">
     <%= partial "layouts/playground" %>
   </section>
