---
title: Alex G -  Fullstack WebDev
---

<div class="container" id="home">


  <div class="title">
    <h1 class="text-center">Alexandre Gros</h1>
    <hr id="title-sep">
    <h2 class="text-center">Fullstack Web Developer</h2>
  </div>

  <div class="stack">
    <div class="stack-list" id="list-one">
      <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1539966066/ruby.png", width: 50, height: 50, alt: "Fullstack WebDev - Stack logos", class:"stack-logo" %>
      <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1539966152/javascript-js-seeklogo.com.svg", width: 50, height: 50, alt: "Fullstack WebDev - Stack logos", class:"stack-logo" %>
      <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1539966489/rails-seeklogo.com.svg", width: 100, height: 50, alt: "Fullstack WebDev - Stack logos", class:"stack-logo"%>
    </div>
    <div class="stack-list" id="list-two">
      <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1539966489/html5-with-wordmark-color.svg", width: 50, height: 50, alt: "Fullstack WebDev - Stack logos", class:"stack-logo" %>
      <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1539966489/css3-seeklogo.com.svg", width: 50, height: 50, alt: "Fullstack WebDev - Stack logos", class:"stack-logo" %>
      <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1539966490/postgresql-seeklogo.com.svg", width: 50, height: 50, alt: "Fullstack WebDev - Stack logos", class:"stack-logo" %>
    </div>
    <div class="stack-list" id="list-three">
      <p><small>Learning on going : </small></p>
      <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1539968975/react.png", width: 65, height: 50, alt: "Fullstack WebDev - Stack logos", class:"stack-logo" %>
      <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1539968980/swift.png", width: 45, height: 45, alt: "Fullstack WebDev - Stack logos", class:"stack-logo" %>


    </div>
  </div>

  <div class="typed-js">
    <div class="term">
      <div class="term-nav">
        <div class="circle first"><b>x</b></div>
        <div class="circle second"><b>-</b></div>
        <div class="circle third"><b><</b></div>
        <p>user --- -bash --- 80x24</p>
      </div>
      <form>
        <p> ~ user$
        <input id="command" type="text" autofocus></p>
        <button style="visibility: hidden;" id="submit"></button>
      </form>
      <div class="output">
        <div id="typed-strings">
          <p><strong> Need a website?</strong>.</p>
          <p>check my work and contact me.</p>
        </div>
        <span id="typed"></span>
      </div>
    </div>
  </div>



  <div class="bottom-left">
    <p class="text-center">
      Not in the mood to browse this website ? 😥 <br>
      Go to the playground directly! 😉
    </p>

  </div>


  <div class="scroll-icon">
    <div class="arrow bounce">
      <div class="scroll-text">Next</div>
      <button class="fa fa-chevron-down fa-2x" href="#" />
    </div>
  </div>



  <div class="bottom-right">
  </div>


</div>


<%#= link_to "test", "test.html" %>

<div id="typed-strings">
  <p>Typed.js is a <strong>JavaScript</strong> library.</p>
  <p>It <em>types</em> out sentences.</p>
</div>
<span id="typed"></span>

<script>
var typed = new Typed('#typed', {
  stringsElement: '#typed-strings'
});
</script>
