---
title: Alex G - WebDev Portofolio
---

<div class="container" id="home">


  <div class="title">
    <h1 class="text-center">Alexandre Gros</h1>
    <hr id="title-sep">
    <h2 class="text-center">Fullstack Web Developer</h2>
  </div>

  <div class="stack">
    <div class="stack-list" id="list-one">
      <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1539966066/ruby.png", width: 50, height: 50, alt: "Fullstack WebDev - Stack logos", class:"stack-logo" %>
      <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1539966152/javascript-js-seeklogo.com.svg", width: 50, height: 50, alt: "Fullstack WebDev - Stack logos", class:"stack-logo" %>
      <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1539966489/rails-seeklogo.com.svg", width: 100, height: 50, alt: "Fullstack WebDev - Stack logos", class:"stack-logo"%>
    </div>
    <div class="stack-list" id="list-two">
      <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1539966489/html5-with-wordmark-color.svg", width: 50, height: 50, alt: "Fullstack WebDev - Stack logos", class:"stack-logo" %>
      <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1539966489/css3-seeklogo.com.svg", width: 50, height: 50, alt: "Fullstack WebDev - Stack logos", class:"stack-logo" %>
      <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1539966490/postgresql-seeklogo.com.svg", width: 50, height: 50, alt: "Fullstack WebDev - Stack logos", class:"stack-logo" %>
    </div>
    <div class="stack-list" id="list-three">
      <p><small>Learning on going : </small></p>
      <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1539968975/react.png", width: 65, height: 50, alt: "Fullstack WebDev - Stack logos", class:"stack-logo" %>
      <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1539968980/swift.png", width: 45, height: 45, alt: "Fullstack WebDev - Stack logos", class:"stack-logo" %>


    </div>
  </div>

  <div class="typed-js">

  </div>

  <div class="bottom-left">

  </div>

  <div class="bottom-right">

  </div>

  <div class="scroll-icon">
    <div class="arrow bounce">
      <div class="scroll-text">Next</div>
      <button class="fas fa-chevron-down fa-2x" href="#" />
    </div>
  </div>




</div>
