---
title: Alex G | Full-Stack Web Developer
---

<div class="scrollable">
  <section class="scrollable-section" id="home">
    <%= partial "layouts/home" %>
    <%= partial "layouts/bottom_section" %>
  </section>
  <section class="scrollable-section" id="about">
   <%= partial "layouts/about" %>
   <%= partial "layouts/bottom_section" %>
  </section>
  <section class="scrollable-section" id="projects">
   <%= partial "layouts/projects" %>
   <%= partial "layouts/bottom_section" %>
  </section>
  <section class="scrollable-section" id="contact">
   <%= partial "layouts/contact" %>
   <%= partial "layouts/bottom_section" %>
  </section>
  <section class="scrollable-section" id="playground">
   <%= partial "layouts/playground" %>
  </section>
</div>
