---
title: Alex G -  Fullstack WebDev
---

<div class="container" id="home">


  <div class="title">
  <section class="cd-intro">
    <div class="cd-intro-content bouncy">
      <h1 class="text-center">Alexandre Gros</h1>
      <hr id="title-sep">
      <h2 class="text-center">Fullstack Web Developer</h2>
    </div>
  </section>



  </div>

  <div class="flex-section">
      <div class="term">
        <div class="term-nav">
          <div class="circle first"><b>x</b></div>
          <div class="circle second"><b>-</b></div>
          <div class="circle third"><b><</b></div>
          <p>alex-laptop -- -zsh -- 80x24</p>
        </div>
        <form>
          <p> ~ user$

        </form>
        <div class="output">
          <div id="typed-strings">
            <p>Hi, i'm Alex</p>
            <p>Interested in a website?</p>
            <p>Great, i'm available. 👍</p>
            <p>Don't hesitate to contact me! 🤓 </p>
          </div>
          <span id="typed"></span>
        </div>
      </div>
    <div class="stack">
      <div class="stack-list" id="list-one">
        <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1539966066/ruby.png", width: 40, height: 40, alt: "Fullstack WebDev - Stack logos", class:"stack-logo" %>
        <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1539966489/html5-with-wordmark-color.svg", width: 50, height: 50, alt: "Fullstack WebDev - Stack logos", class:"stack-logo" %>
        <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1539966489/css3-seeklogo.com.svg", width: 50, height: 50, alt: "Fullstack WebDev - Stack logos", class:"stack-logo" %>
        <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1539966152/javascript-js-seeklogo.com.svg", width: 40, height: 40, alt: "Fullstack WebDev - Stack logos", class:"stack-logo" %>
      </div>
      <div class="stack-list" id="list-two">
        <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1539966489/rails-seeklogo.com.svg", width: 110, height: 50, alt: "Fullstack WebDev - Stack logos", class:"stack-logo", id:"rails"%>
        <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1539966490/postgresql-seeklogo.com.svg", width: 50, height: 50, alt: "Fullstack WebDev - Stack logos", class:"stack-logo" %>
      </div>
      <div class="stack-list" id="list-three">
        <p><small>Learning on going : </small></p>
        <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1539968975/react.png", width: 65, height: 50, alt: "Fullstack WebDev - Stack logos", class:"stack-logo" %>
        <%= image_tag "https://res.cloudinary.com/dcf4y5ngp/image/upload/v1539968980/swift.png", width: 45, height: 45, alt: "Fullstack WebDev - Stack logos", class:"stack-logo" %>


      </div>
    </div>
  </div>


  <div class="bottom-left">
    <p class="text-center">
      Not in the mood to browse this website ? 😥 <br>
      Go to the playground directly! 😉
    </p>

  </div>


  <div class="scroll-icon">
    <div class="arrow bounce">
      <div class="scroll-text">Next</div>
      <button class="fa fa-chevron-down fa-2x" href="#" />
    </div>
  </div>



  <div class="bottom-right">
  </div>


</div>


<script>
const typed = new Typed('#typed', {
  stringsElement: '#typed-strings',
  typeSpeed: 120,
  loop: true
});
</script>
